//styles
link( rel= 'stylesheet', type= 'text/css', href= 'bower_components/bootstrap/dist/css/bootstrap.min.css')
link( rel= 'stylesheet', type= 'text/css', href= 'bower_components/components-font-awesome/css/font-awesome.min.css')
link( rel= 'stylesheet', type= 'text/css', href= 'bower_components/animate.css/animate.min.css' )
link( rel= 'stylesheet', type= 'text/css', href= 'asset/styles/main.css' )
//scripts
script( src= 'bower_components/jquery/dist/jquery.min.js' )
script( src= 'bower_components/bootstrap/dist/js/bootstrap.min.js' )
script( src= 'bower_components/wow/dist/wow.min.js' )
script( src= 'asset/js/custom.js' )